@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/NotoSans-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/NotoSans-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/NotoSans-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
