$darkblue: #12141e;
$slateblue: #373D59;
$purple: #8C6CED;
$main-background: $darkblue;

$font-size-base: 16px;
$transition-default: .2s ease;
$transition-medium: .3s ease-in-out;

// max
@mixin max-desktop-lg {
	@media only screen and (max-width: 1799px) { @content; }
}

@mixin max-desktop {
	@media only screen and (max-width: 1439px) { @content; }
}

@mixin max-desktop-md {
	@media only screen and (max-width: 1550px) { @content; }
}

@mixin max-laptop {
	@media only screen and (max-width: 1199px) { @content; }
}

@mixin max-tablet-landscape {
	@media only screen and (max-width: 991px) { @content; }
}

@mixin max-tablet {
	@media only screen and (max-width: 767px) { @content; }
}

@mixin max-mobile-lg {
	@media only screen and (max-width: 540px) { @content; }
}

@mixin max-mobile-md {
	@media only screen and (max-width: 385px) { @content; }
}

@mixin max-mobile {
	@media only screen and (max-width: 350px) { @content; }
}

// min
@mixin min-mobile {
	@media only screen and (min-width: 350px) { @content; }
}

@mixin min-mobile-md {
	@media only screen and (min-width: 385px) { @content; }
}

@mixin min-mobile-lg {
	@media only screen and (min-width: 540px) { @content; }
}

@mixin min-tablet {
	@media only screen and (min-width: 768px) { @content; }
}

@mixin min-tablet-landscape {
	@media only screen and (min-width: 992px) { @content; }
}

@mixin min-laptop {
	@media only screen and (min-width: 1200px) { @content; }
}

@mixin min-desktop {
	@media only screen and (min-width: 1440px) { @content; }
}

@mixin min-desktop-md {
	@media only screen and (min-width: 1550px) { @content; }
}

@mixin min-desktop-lg {
	@media only screen and (min-width: 1800px) { @content; }
}
